.about {
    padding: 42px 0 145px 0;
}
.about-wrapper{
    position: relative;
}
.about__title {
    margin-bottom: 73px;
}
.wrapper-about {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}
.about__top {
    display: flex;
    justify-content: space-between;
}
.about__top-right{
    border-radius: 20px;
}
.about__subtitle {
    padding: 12px 37px;
    font-weight: 700;
    font-size: 25px;
    line-height: 160%;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 40px;
}

.about__top-subtitle {
    margin-left: 35px;
}
.about__text {
    font-size: 17px;
    line-height: 160%;
    letter-spacing: 0.03em;
}

.about__top-text{
    max-width: 590px;
}

.about__bottom {
    display: flex;
    margin-top: -58px;
}

.about__bottom-left {
    margin-right: 100px;
}

.about__bottom-text{
    max-width: 685px;
}

.about__bottom-subtitle {
    margin-left: 114px;
}