.customers {
    padding: 110px 0;
    background-color: #F8F8F8;
}
.customers__container{
    position: relative;
}
.customers .swiper{
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
}
.customers .swiper__container{
    max-width: 1468px;
    margin: 0 auto;
    position: relative;
}
.customers__title{
    padding-bottom: 70px;
}
.customers .swiper-slide {
    background: linear-gradient(90deg, rgba(106, 17, 203, 0.2) 0%, rgba(37, 117, 252, 0.2) 100%);
    padding: 20px 32px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.customers .swiper-slide-active {
    background: #fff;
}
.slide__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.slide__author {
    display: flex;
    align-items: center;
}

.slide__logo-wrap{
    padding: 3px 14px;
    border-radius: 5px;
}

.slide__author-img {
    max-width: 57px;
    max-height: 57px;
    display: inline-block;
    margin-right: 10px;
}

.slide__author-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.03em;
}

.slide__author-name {
    font-weight: 500;
}

.slide__title{
    padding-left: 45px;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    position: relative;
}

.slide__title:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 24px;
    background-image: url("../../img/customers/vector.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__text{
    font-weight: 400;
    font-size: 11px;
    line-height: 160%;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
}

.slide__more{
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.03em;
    text-decoration: underline;
}
.swiper__arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-45px);
    cursor: pointer;
    z-index: 1;
}
.swiper-button-disabled{
    opacity: 0.5;
    pointer-events: none;
}
.swiper__arrow-prev{
    left: 0;
}
.swiper__arrow-next{
    right: 0;
}
