.FAQ {
    padding: 100px 0 120px 0;
    background-image: url("../../img/FAQ/FAQ__bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-FAQ {
    max-width: 770px;
    margin: 0 auto;
    position: relative;
}

.FAQ__title {
    margin-bottom: 25px;
}

.FAQ__descr {
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
    max-width: 510px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.hide,
.hide + label ~ div {
    display: none;
}

.FAQ__block{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin: 0;
    background-color: #fff!important;
    position: relative;
    z-index: 1;
}

.question{
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    padding: 38px 83px;
    background: #FFFFFF;
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
    display: block;
    position: relative;
}

.answer{
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    padding: 0 73px 38px 83px;
}

.question:before {
    content: url("../../img/FAQ/arrow-right.svg");
    display: block;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 40px;
    height: 27px;
    width: 14px;
    transition: 0.3s transform ease;
}

/*вид текста label при активном переключателе */
.hide:checked + label {
    background: linear-gradient(90deg, #6A11CB 0%, #2575FC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-bottom: 20px;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label:before {
    content: url("../../img/FAQ/arrow-down.svg");
    left: 37px;
    top: 42px;
}

